body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3,
#top-section-footer {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}
.navigation {
  font-size: 18px;
  font-weight: normal;
}

/* NOTE: Make all navigation links the same color */
.navigation a {
  color: white
}

/* Home class to define the look of top of page */
.home {
  background-image: url("../the-flatiron-building.png");
  background-position: center; /* added background-position to keep image in view no matter the window width */
}

#top-section-footer {
  color: white;
  background-image: url("../the-flatiron-building.png");
  background-position: center; /* added background-position to keep image in view no matter the window width */
}

#footer p {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
